<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<div>
    <a href="credit-applications/form">
        <button>make application</button>
    </a>
</div>
<br/>
<div>
    <a href="customers">

    </a>
</div>
<br/>
<div>
    <a href="customers/find">
        <button>find customer</button>
    </a>
</div>
<br/>
<div>
    <a href="credit-applications/accepted">
        <button>accepted applications</button>
    </a>
</div>
<br/>
<div>
    <a href="credit-contracts/accepted">
        <button>accepted contracts</button>
    </a>
</div>
</body>
</html>